pixels=480
swap=12345678
strip1=ws2811
order1=rgb
strip2=ws2811
order2=rgb
strip3=ws2811
order3=rgb
strip4=ws2811
order4=rgb
strip5=ws2811
order5=rgb
strip6=ws2811
order6=rgb
strip7=ws2811
order7=rgb
strip8=ws2811
order8=rgb
onewire=2